@keyframes transitionAnimation {
    0% {
        background: #ff7300; 
        overflow: hidden;
    }
    100% {
        background: #0f0235;
        overflow: hidden;
    }
}

@keyframes fadeOut{
    0% {
        opacity: 100%; 
    }
    100% {
        opacity: 0%; 
    }
}
@keyframes fadeIn{
    0% {
        opacity: 0%; 
    }
    100% {
        opacity: 50%; 
    }
}
@font-face {
    font-family: SpectralLight;
    src: url(../assets/Spectral-Light.ttf);
}

body{
    height: 100vh;
    width: 10000px;
    font-family: SpectralLight;
    font-size: 10em;
    overflow: hidden;
    background: linear-gradient(to bottom right, #ff7300, #ffc400);
    animation-name: transitionAnimation;
    animation-delay: 4.5s;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
#patternbg{
    z-index: 100;
    position:absolute;
    top:0;
    left:0;
    filter:hue-rotate(85deg);
    opacity: 25%;
    height: 3200px; 
    animation-name: fadeOut;
    animation-delay: 4.5s;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    overflow: hidden;
}
#init-content{
    z-index: 101;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation-name: fadeOut;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    overflow: hidden;
}
#starbg{
    z-index: 99;
    position:absolute;
    opacity: 0%;
    top:0;
    left:0;
    height: 3200px;
    animation-name: fadeIn;
    animation-delay: 4.5s;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    overflow: hidden;
}
#final-content{
    z-index: 102;
    font-size: 0.5em;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff65;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #323232;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #121212;
  }

  